@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  color: #333;
  background: #ddd;
  /* background-size: 300%; */
  background-image: var(--gradient);
  animation: bg-animation 25s infinite;
  overflow: scroll;
  background-size: auto;
  /* background: fixed; */
}

.content {
  position: relative;
}

.content h2 {
  margin-top: 10%;
  margin-left: 50%;
  color: #fff;
  font-size: 3em;
  position: absolute;
  transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #a2a8d3;
}

.content h2:nth-child(2) {
  color: #a2a8d3;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {

  0%,
  100% {
    clip-path: polygon(0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%);
  }

  50% {
    clip-path: polygon(0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%);
  }
}

.sub-header {
  height: 60vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("images/semaphore.jpg");
  background-position: center;
  background-size: contain;
  text-align: center;
  color: #fff;
}

.sub-header h1 {
  font-size: 35px;
  margin-top: 90px;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: orange;
  text-decoration: none;
  font-size: 13px;
}

.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background-color: #260c1a;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.submenu-1 {
  display: none;
}

.submenu-1 ul li a {
  color: #57385c;
}

.nav-links ul li:hover .submenu-1 {
  display: block;
  position: absolute;
  background: #edf7fa;
  margin-top: 10px;
  margin-bottom: -15px;
}

.nav-links ul li:hover .submenu-1 ul {
  display: block;
  margin: 10px;
}

.nav-links ul li:hover .submenu-1 ul li {
  width: 170px;
  padding: 10px;
  border-bottom: 1px dotted #5f6caf;
  border-radius: 0;
  text-align: left;
}

.nav-links ul li:hover .submenu-1 ul li:list-child {
  border-bottom: none;
}



/* Definition  */
.def {
  box-shadow: inset 0 0 10px;
  font-weight: 550;
  background-color: #ececec;
  text-align: center;
  padding: 40px 40px;
}

/* explanation */
.exp p {
  font-weight: 500;
  color: #5c5470;
  text-align: left;
  padding-left: 4vh;
  padding-top: 2vh;
}

.exp h1 {
  color: #070f4e;
  font-size: 28px;
  text-align: left;
  /* padding: 60px 0px 0px 70px; */
}

.exp h2 {
  color: #070f4e;
  font-size: 24px;
  text-align: left;
  /* padding: 40px 0px 0px 70px; */
}

/* bg animation */
:root {
  --gradient: linear-gradient(90deg, #ececec, #bae8e8, #a2a8d3);
}

@keyframes bg-animation {
  0% {
    background-position: left
  }

  50% {
    background-position: right
  }

  100% {
    background-position: left
  }
}

.context {
  width: 98.8vw;
  padding: 3em;
  box-shadow: 0 0 3em rgba(0, 0, 0, .15);
}

.title {
  margin: 0 0 .5em;
  text-transform: uppercase;
  font-weight: 900;
  font-style: italic;
  font-size: 3rem;
  color: #ee6352;
  line-height: .8;
  margin: 0;
  background-image: var(--gradient);
  background-clip: text;
  color: transparent;
  /* // display: inline-block; */
  background-size: 300%;
  transition: background-position 1s;
}

.title:hover {
  background-position: right;
}

.fun {
  color: white;
  border: 0;
  cursor: pointer;
  padding: .5em 1.25em;
  background: linear-gradient(90deg, #ececec, #bae8e8, #a2a8d3);
  background-size: 300%;
  background-position: left;
  transition: background-position 350ms;
}

.fun:hover {
  background-position: right;
}

/* responsive */
@media(max-width: 700px) {
  .content h2 {
    margin-top: 50%;
    font-size: 3em;
  }

  .content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #a2a8d3;
  }

  .content h2:nth-child(2) {
    color: #a2a8d3;
    animation: animate 4s ease-in-out infinite;
  }
}

/* img */
.input-img {
  padding-top: 10px;
  padding-left: 70px;
  width: 80vmin;
  height: auto;
}




.red-btn {

  border: 1px solid #f44336;
  background: transparent;
  color: #f44336;
  padding: 5px 15px;
  margin-left: 47%;

}

.red-btn:hover {
  color: #fff;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  padding: 10px 30px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;

  border-radius: 2px;
}

.hero-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
}


#au {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  }
  
  .column {
  text-align: center;
  margin-bottom: 16px;
  padding: 0 8px;
  }
  
  .card {
  padding: 20px;
  border: 1px solid #eee;
  font-size: .85rem;
  max-width: 360px;
  width: 100%;
  display: block;
  position: relative;
  margin-left: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  }
  .container {
  padding: 0 16px;
  }
  
  .container::after, .row::after {
  content: "";
  clear: both;
  display: table;
  }
  
  @media screen and (max-width: 650px) {
  .column {
  width: 100%;
  display: block;
  }
  }
  
  #footer{
  color: black;
  margin: 15px;
  text-align: center;
  font-size: xx-large;
  font-family: serif;
  }